<div class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <slot name="modal-title">
          <h5 class="modal-title">Modal title</h5>
        </slot>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <slot name="modal-body">default body</slot>
      </div>

      <div class="modal-footer">
        <slot name="footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="$emit('ok')">Ok</button>
        </slot>
      </div>
    </div>
  </div>
</div>
